*{
  caret-color: transparent !important;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-container{
   position: relative;
  overflow: hidden;
}
.card-container a{
  position: relative;
  z-index: 30;
}

.feature-bg-image{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (min-width: 1024px){
  .mobileSlider{
  display: none !important;
}
}

h1,h2,h3,h4,h5,p{
caret-color: transparent;
}


/* Backers Images Color change on Hover */
.backers:hover img{
  filter: brightness(0) saturate(100%) invert(90%) sepia(34%) saturate(845%) hue-rotate(54deg) brightness(111%) contrast(101%);
}
@media screen and (min-width: 550px) and (max-width: 1024px){
#mobile-use-case #slide-1 img{
  width: 100%  !important;
}
}